* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background: rgb(114, 106, 106);
}
/* top nav bar */
.navBar a {
  text-decoration: none;
  color: black;
}
.navLinks a {
  color: rgb(105, 105, 105);
}
.navBar button {
  border: none;
  padding: 3px 6px;
  box-shadow: 1px 1px 20px gray;
  border-radius: 5px 0;
}
.navbar .signUp {
  background-color: red;
  color: white;
}
.navbar .login {
  background-color: white;
  color: red;
}
/* login signup ,reset pass */
.card {
  border: none;
}
